.detail-page {
  display: flex;
  flex-wrap: wrap;

  h1 {
    flex: 1 1 100%;
    order: -1;
    margin: 50px auto;
  }

  .column {
    flex: 1 1 100%;
    font-size: 4rem;

    strong {
      font-size: 6rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 15px;
      padding-left: 40px;
    }

    @media (min-width: 768px) {
      flex: 1 0 50%;

      &--rating {
        order: 3;
      }

      &--specs {
        order: 2;
      }
    }

    &__contents {
      position: sticky;
      top: 40%;

      @media (min-width: 768px) {
        text-align: right;
      }
    }
  }
}
