@use '../variables/colors' as colors;

$transition: 200ms linear;

.card {
  border: 8px solid colors.$green;
  margin-bottom: 10px;
  padding: 25px 55px 30px;
  border-radius: 70px;
  font-size: min(8vw, 5rem);
  transition: background-color $transition;

  a {
    transition: color $transition;
  }

  &:hover {
    background-color: colors.$dark-green;

    a {
      color: colors.$light-green;
    }
  }
}
