@use './variables/colors' as colors;
@use './variables/typography' as fonts;

@import './utilities/a11y';
@import './utilities/reset';

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/BricolageGrotesque-var.ttf') format('truetype-variations');
  font-weight: 1 999;
}

html {
  min-height: 100vh;
  border: 8px solid colors.$dark-green;
  border-top: none;
  background-color: colors.$dark-green;
  color: colors.$dark-green;
  font-size: 100%;
  font-family: 'Bricolage Grotesque';
  font-variation-settings: fonts.$var-reg;
}

body {
  background-color: colors.$light-green;
}

.h1,
.h2 {
  text-align: center;
  font-variation-settings: fonts.$var-bold;
}

.h1 {
  font-size: 15vw;
}

.h2 {
  font-size: 10vw;
}

strong {
  font-variation-settings: fonts.$var-bold;
}

a {
  color: colors.$dark-green;
  text-decoration: none;
}
