---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Page Not Found">
  <div class="container container--404">
    <h1>404 | Page Not Found</h1>
  </div>
</Layout>

<style>
  .container--404 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
  }
</style>