---
import Layout from '../layouts/Layout.astro';
import FilterList from '../components/FilterList.astro';

import { getSome } from '../lib/notion/client.js';

const title = 'Chillmore Girls';
const { results = [] } = await getSome({ options: {
	sorts: [
		{
			property: "Type",
			direction: "ascending"
		}
	]
} });
---

<Layout title={title}>
	<h1>{title}</h1>
	<FilterList items={results} />
</Layout>