---
import Layout from '../layouts/Layout.astro';
import FilterList from '../components/FilterList.astro';

import { getSome } from '../lib/notion/client.js';

const title = 'Chillmore Girls';
const { results: pageData = [] } = await getSome({ options: {
	sorts: [
		{
			property: "Type",
			direction: "ascending"
		}
	]
} }) || {};

const results = pageData.map(({ properties }) => ({
	title: properties.Name.title[0].plain_text,
	slug: properties.slug.formula.string,
	rating: properties.Overall?.number || null,
	type: properties.Type?.select?.name || null,
}));

const types = results.reduce((acc, { type }) => {
  if (type && !acc.includes(type)) acc.push(type);

  return acc;
}, []);
---

<Layout title={title}>
	<h1 class="sr-only">{title}</h1>

	<FilterList
		items={results}
		filterValues={types}
		filterProperty="type"
	/>
</Layout>