---
import '../styles/components/card.scss';
import Ratings from './Ratings.astro';

const { href = '', title = '', rating = null } = Astro.props;
---

<a class="card" href={href}>
	<h2>{title}</h2>
	<Ratings rating={rating} />
</a>
