---
import '../styles/components/card.scss';

const { href = '', title = '', rating = '' } = Astro.props;
---

<a class="card" href={href}>
	<h2>
		{title}
	</h2>
	<p class="rating">
		<strong>Rating:</strong> {rating}
	</p>
</a>
