---
import Card from '../components/Card.astro';

const { items = [] } = Astro.props;
const results = items.map(({ properties = {} }) => properties);
---

{items.length && (
  <filter-list data-items={JSON.stringify(results)}>
    <ul role="list">
      {results.map(({ Name }) => (
        <li>
          <Card
        		href="#"
        		title={Name.title[0].plain_text}
        		// https://docs.astro.build/en/guides/view-transitions/
        	/>
        </li>
      ))}
    </ul>
  </filter-list>
)}

<script>
  class FilterList extends HTMLElement {
    constructor() {
      super();

      // const element = this;
      const { items = '[]' } = this.dataset;
      const results = JSON.parse(items);

      console.log(results);

      // TODO:
      // prepend filter buttons
      // https://web.dev/articles/custom-elements-v1
    }
  }

  customElements.define('filter-list', FilterList);
</script>