---
import '../styles/layout/footer.scss';
---

<footer>
  <p>
    Chillmore Girls was built in December 2023 using 
    <a href="https://astro.build/" target="_blank">Astro</a>, 
    <a href="https://developers.notion.com/" target="_blank">Notion</a> 
    and <a href="https://vercel.com/" target="_blank">Vercel</a>.
  </p>
  <p class="sm">
    <a href="https://ateliertriay.github.io/bricolage/" target="_blank">Bricolage Grotesque</a> is the font. And yes, all of these product names are terrible.
  </p>
</footer>